{% extends 'online_quizz/base.html' %}
{% block title %}
<title>{{ course.course_name }}</title>
{% endblock %}
<style>
	body {
		font-family: Arial, sans-serif;
	}

	h1 {
		color:green;
		text-transform:uppercase;
		margin:10px;
		text-align:center;
		font-size:40px;
	}
	h2{
		color:orange;
		font-style:italic;
		font-weight:bold;
		font-size:30px;
	}

	p {
		margin-bottom: 10px;
		font-style:italic;
		font-weight:bold;
		font-size:20px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.question {
		height: 30px;
		width: 900px;
		background-color: skyblue;
		font-style:italic;
		font-weight:bold;
		font-size:20px;
		margin-top:30px;
		padding:30px;
		margin:10px;
	}

	.form-check {
		margin-bottom: 10px;
		background-color:pink;
		width:950px;
		margin:10px;
		font-size:20px;
	}

	.btn {
		background-color: #4CAF50;
		color: white;
		padding: 10px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		margin:10px;
		font-size:20px;
		
	}

	.btn:hover {
		background-color: #45a049;
	}
</style>

{% block content %}
    {% load static %}
	<h1>{{ course.course_name }}</h1>
	<p>{{ course.description }}</p>
	<p>Total Marks: {{ course.total_marks }}</p>

	<h2>Questions:</h2>
	<p>Time Left: <span id="timer">15:00</span></p> <!-- Timer element -->

	<form method="POST" action="{% url 'online_quizz:evaluate_results' course.id %}">
		{% csrf_token %}
		{% for question in course.question_set.all %}
		<div class="form-group">
			<label for="question">{{ question.id }}. {{ question.question }}</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option1" value="Option1">
			<label class="form-check-label" for="Option1">
				{{ question.option1 }}
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option2" value="Option2">
			<label class="form-check-label" for="Option2">
				{{ question.option2 }}
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option3" value="Option3">
			<label class="form-check-label" for="Option3">
				{{ question.option3 }}
			</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="radio" name="question_{{ question.id }}" id="option4" value="Option4">
			<label class="form-check-label" for="Option4">
				{{ question.option4 }}
			</label>
		</div>
		
		{% endfor %}
	
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<script>
		var startTime = new Date().getTime();
        var form = document.getElementById('quiz-form');
        var submitBtn = document.getElementById('submit-btn');
        submitBtn.addEventListener('click', function() {
            var endTime = new Date().getTime();
            var timeTaken = endTime - startTime;
            var timeTakenField = document.createElement('input');
            timeTakenField.setAttribute('type', 'hidden');
            timeTakenField.setAttribute('name', 'time_taken');
            timeTakenField.setAttribute('value', timeTaken);
            form.appendChild(timeTakenField);
        });
	
	</script>
{% endblock %}
