{% extends 'online_quizz\base.html' %}
{% block title %}
<title>course list</title>
{% endblock %}
{% block content %}
    {% load static %}
	<div class="cor"><h1>Courses:</h1></div>
	<div class="card">
		<ul class="course-list">
			{% for course in courses %}
				<li class="course-item">
						<div class="course-info">
							<img src="{{ course.image }}" alt="{{ course.course_name }}" class="course-image">
						</div>
						<button class="view-button"><a href="{% url 'online_quizz:course_detail' pk=course.pk %}" class="course-link">View Course</a></button>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
