{% extends 'online_quizz\dashborad_base.html' %}
{% block title %}
	Dashboard
{% endblock %}
{% block content %}
    {% load static %}
    <style>
        .objects {
            margin-bottom: 35px;
			border-radius: 5px;
			background-color:rgba(147, 112, 216, 0.24);
        }

        .objects h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 10px;
        }

        .objects p {
            font-size: 15px;
            color: #666;
            margin-bottom: 5px;
        }

        .objects ul {
            list-style: none;
        }

        .objects li {
            font-size: 20px;
            color: #999;
            margin-bottom: 10px;
        }
    </style>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <div class="objects">
                        <h2>Student Details</h2>
                        <p><a href="{% url 'online_quizz:teacher_view' %}">Total Students: {{ student_count }}</a></p>
                    </div>
                    <div class="objects">
                        <h2>Course Management</h2>
                        <p><a href="{% url 'online_quizz:teacher_courses' %}">Total Courses:{{ course_count }}</a></p>
                        <ul>
                            <!-- {% for course in courses %}
                                <li>{{ course.course_name }}</li>
                            {% empty %}
                                <li>No courses found.</li>
                            {% endfor %} -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>	
{% endblock %}