{% extends 'online_quizz\dashborad_base.html' %}
{% block title %}
<title>Dashboard</title>
{% endblock %}
{% block content %}
    {% load static %}

	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="objects">
						<h2>Student Details</h2>
						<p><a href="{% url 'online_quizz:teacher_view' %}">Total Students: {{ student_count }}</a></p>
						<!-- <ul>
							{% for student in students %}
								<li>{{ student.username }} - {{ student.email }}</li>
							{% empty %}
								<li>No students found.</li>
							{% endfor %}
						</ul> -->
					</div>
					<div class="objects">
						<h2>Course Management</h2>
						<p><a href="{% url 'online_quizz:teacher_courses' %}">Total Courses:{{ course_count }}</a></p>
						<ul>
							<!-- {% for course in courses %}
								<li>{{ course.course_name }}</li>
						
							{% empty %}
								<li>No courses found.</li>
							{% endfor %} -->
						</ul>
					
					</div>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}